body{
margin: 0;
padding: 0;
background-color: aquamarine;


background-repeat:no-repeat ;

background:url('SPY.jpeg'); 
 /* no repeat top right #2f2f2f ; */
 /* background-image:url('images.png'); */
 background-position: top left;
background-size: cover ;
}
p{
    font-family:Arial ;
    font-size:30px;
    color: blueviolet;
    font-weight:700;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 1px 1px 10px #fff;
    /* text-wrap: initial;*/
    /*text-overflow: ;*/
    clear: both;
}
#para{
    color: brown;
    display: inline-block;
}
img{
    float: left;

}